@mixin post-format-comment {
  flex-wrap: wrap;
  justify-content: flex-start;

  border: none;

  @include width;

  .comment-content {
    @include border(normal, all);
    @include padding;
    width: 100%;

    .text {
      @include text-style(body-text-post);
    }
  }

  .comment-post-title-with-arrows {
    display: flex;
    align-items: flex-start;

    .arrow-with-triangle {
      @include arrow-with-triangle;
    }

    .title {
      @include padding(yes, no, no, no);
    }
  }
}
