@mixin post-format-comment {
  flex-wrap: wrap;
  justify-content: flex-start;

  border: none;

  @include width;

  > * {
    width: 100%;
  }

  .comment-content,
  .comment-excerpt,
  .comment-content-or-excerpt {
    @include border(normal, all);
    @include padding;

    .text {
      @include text-style(body-text-post);
    }
  }

  .comment-post-title-with-arrows {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;

    .arrow-with-triangle {
      @include arrow-with-triangle;

      position: relative;
      @include margin(yes, no, no, no);
    }

    .comment-title {
      @include padding(no, no, yes, no);
    }
  }
}
