@mixin post-paginated-content {
  width: 100%;
  margin: $lem 0;
  max-width: $text-block-width;

  .text {
    display: flex;
    flex-wrap: wrap;

    .page-links-title {
      margin-right: $lem / 2;
    }

    .page-links {
      a {
        @include link;
      }
    }
  }
}
