@mixin post__grid--display-horizontal {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  .post__content {
    @include width;
  }

  .post__sidebar {
    width: calc((100% - #{$text-block-width - $left * 2}) / 2);
    max-width: $text-block-width / 5;
    padding-top: $lem;
  }
}
