@mixin post__grid--display-vertical {
	@include width;

	display: flex;
	flex-direction: column;

	position: relative;

	.post__content {
		width: 100%;
	}

	.post__sidebar {
		position: absolute;

		&--left {
			top: -$lem;
		}

		&--right {
			bottom: -$lem;
		}
	}
}
