@mixin header-image {
  width: 100%;

  figure {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  + .header-logo,
  + .header-title {
    @include margin(half, no, no, no);
  }
}
