@mixin content-single {
  display: flex;
  flex-direction: column;
  align-items: center;

  // width is set at page level

  > * {
    width: 100%;
  }

  .post {
    @include post;
    @include post--single;
  }

  .post-footer {
    @include post-footer;
  }

  #comments,
  .comments-area {
    @include comments;
  }

  .archive-list {
    @include archive-list;
    @include margin(yes, no, no, no);
  }
}
