@mixin content-single {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include width;

  .post-single,
  .post-footer,
  #comments,
  .comments-area {
    width: 100%;
  }

  .post-single {
    @include post-single;
  }

  .post-footer {
    @include post-footer;
  }

  #comments,
  .comments-area {
    @include comments;
  }
}
