@mixin post-grid--display-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .post__content {
    width: calc(#{$text-block-width - ($left * 2)});
  }

  .post__sidebar {
    width: calc((100% - #{$text-block-width - ($left * 2)}) / 2);
    padding-top: $lem;
  }

  .post__sidebar--left {
    margin-right: $lem;
  }

  .post__sidebar--right {
    margin-left: $lem;
  }
}
