@mixin post-featured-image--with-border {
  .figure,
  figure {
    @include border(normal, all);
    @include padding;
    @include margin(yes, no, yes, no);
    background: transparent;

    @include mobile {
      padding: 0;
    }

    .figcaption {
      display: none;
    }
  }
}
