@mixin sidebar-widget-log-lolla-sources {
  .widget-title {
    font-size: 1em;
    margin: 0;
  }

  .widget-body {
    display: flex;
    flex-wrap: wrap;
    margin-top: $lem;

    .sources {
      display: flex;
      flex-wrap: wrap;

      .source-with-count {
        display: flex;
        align-items: center;

        margin-right: $lem;
        margin-bottom: $lem;

        .source {
          @include person;

          .source__name {
            @include text-style(post-title-large);
            line-height: 1.8;
          }
        }

        .post-count {
          margin-left: $lem / 4;
        }
      }
    }
  }
}
