@mixin post-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;

  @include margin(yes, no, no, no);

  .post-date,
  .post-author,
  .link,
  a[rel="tag"],
  a[rel="category"],
  a[rel="category tag"],
  .edit-link {
    @include colors(inverted);
    @include button--with-border;
  }

  .edit-link {
    display: block;
  }

  a {
    @include link(inverted, $type: not-underlined);
  }
}
