@mixin archives-topics {
  .categories,
  .tags {
    display: flex;
    flex-wrap: wrap;

    .category,
    .tag {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      @include margin(no, yes, yes, no);
    }


    .category-sparklines,
    .tag-sparklines {
      margin-left: $lem / 6;
    }

    .category-count,
    .tag-count {
      margin-left: $lem / 2;
    }

  }
}
