@mixin archives-sources {
	.sources {
		display: flex;
		flex-wrap: wrap;

		.source-with-count {

			@include margin(no, yes, yes, no);
			align-items: center;
			display: flex;

			.source {
				@include person;
			}

			.post-count {
				margin-left: $lem / 4;
				order: 2;
			}
		}
	}
}
