@mixin archives-sources {
  .sources {
    display: flex;
    flex-wrap: wrap;

    .source-with-count {
      display: flex;
      align-items: center;

      @include margin(no, yes, yes, no);

      .source {
        @include person;
      }

      .post-count {
        margin-left: $lem / 4;
      }
    }
  }
}
