@mixin content-archive {
  .archive-title,
  .archive-description {
    margin-bottom: $lem;
  }

  .post {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .post-title,
    .post-permalink,
    .post-date {
      padding: $lem;
    }
  }
}
