@mixin content-archive {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include width;

  .post,
  .navigation {
    width: 100%;
    max-width: none !important;
  }

  .archive-title,
  .archive-description,
  .archive-list {
    @include margin(no, no, yes, no);
  }

  .archive-list {
    @include archive-list;
  }
}
