@mixin fonts--terminal-grotesque {
  @font-face {
    font-family: 'terminal_grotesque';
    src: url('assets/fonts/terminal-grotesque-webfont.eot');
    src: url('assets/fonts/terminal-grotesque-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/terminal-grotesque-webfont.woff2') format('woff2'),
         url('assets/fonts/terminal-grotesque-webfont.woff') format('woff'),
         url('assets/fonts/terminal-grotesque-webfont.ttf') format('truetype'),
         url('assets/fonts/terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'terminal_grotesque_openRg';
    src: url('assets/fonts/terminal-grotesque_open-webfont.eot');
    src: url('assets/fonts/terminal-grotesque_open-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/terminal-grotesque_open-webfont.woff2') format('woff2'),
         url('assets/fonts/terminal-grotesque_open-webfont.woff') format('woff'),
         url('assets/fonts/terminal-grotesque_open-webfont.ttf') format('truetype'),
         url('assets/fonts/terminal-grotesque_open-webfont.svg#terminal_grotesque_openRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
}
