@mixin post-format-aside {
  .post__content {
    display: flex;
    flex-direction: column;

    .post-content {
      .text {
        @include colors(inverted);
        @include padding;

        @include mobile-and-up {
          @include text-style(large);
        }
      }
    }

    .post-permalink {
      align-self: center;
    }
  }
}
