@mixin archives-by-date {
	.year-and-months {

		@include margin(no, yes, yes, no);
		align-items: center;
		display: flex;

		.year,
		.month {
			min-width: $lem * 2; // Do not break 2018 into 210 and 8
		}

		.months {
			@include flexbox-grid(6, 0, 0, $grid-title:false, $iepx: 1px);

			@include border(normal, all);
			padding: $lem / 4;
		}
	}
}
