@mixin figure {
  width: 100%;
  display: flex;
  flex-direction: column;

  a,
  .link {
    @include link;
  }

  img {
    @include image;
    @include image--do-not-stretch;
    @include image--with-border($padding: 0);
  }

  figcaption {
    @include figure__figcaption;
  }
}
