/**
 * The default skin
 *
 * Sets up color schemes, image assets, fonts and more
 */


/**
 * Colors
 */
$background-color: black;
$text-color: white;


$post-format-status-background-color: '';
$post-format-status-text-color: '';

$post-format-comment-background-color: '';
$post-format-comment-text-color: '';

$post-format-link-background-color: '';
$post-format-link-text-color: '';

$post-format-standard-background-color: '';
$post-format-standard-text-color: '';


/**
 * Fonts
 */
$body-font: 'nimbus-sans';
$title-font: 'nimbus-mono';


/**
 * Assets
 */
$cursor-color: 'black';
$quote-pattern-color: 'black';
$sidebar-pattern-color: 'black';
