@mixin post-format-summary {
	@include width;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.post-sidebar-left {
		order: 1;
	}

	.post-content-between-sidebars {
		@include border(normal, all);
		@include padding;
		@include margin(half, no, no, no);

		order: 2;
	}

	// remove old stuff from post-with-sidebar
	.post-sidebar {
		@include padding(no, no, no, no);
		max-width: none;
		width: auto;
		visibility: visible;
	}

	.post-content-between-sidebars {
		.post-title {
			padding: 0 !important;
		}
	}

	.post-sidebar-left {
		.post-date {
			border: 0;
		}
	}
}
