@mixin list-item--with-graphic($graphic-position: left, $margin-right: half) {
	display: flex;
	align-items: center;
	
	@if ($graphic-position == left) {
		> * {
			order: 1;
		}

		.list-item-graphic {
			@include margin(no, $margin-right, no, no);
			order: 0;
		}
	}
}
