@mixin comment-list__vcard {
  display: flex;
  align-items: flex-end;

  position: relative;

  img {
    @include circle($lem * 2);
    margin-right: $lem / 2;

    position: relative;
    top: $lem;
  }

  .fn {
  }

  .says {
    display: none;
  }
}
