@mixin comments {
  @include margin(yes, no, no, no);

  .comments-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include margin(yes, no, no, no);

    .number-of-comments {
      @include text-style('section-title');
    }

    .arrows {
      display: flex;

      .arrow-with-triangle {
        @include arrow-with-triangle;
      }
    }
  }

  .comments-body {
    @include margin(yes, no, no, no);

    .comment {
      @include comment;

      + .comment {
        @include margin(yes, no, no, no);
      }
    }
  }
}
