@mixin sidebar__grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  .widget {
    width: 100%;
    max-width: $text-block-width;

    + .widget {
      margin-top: $top;
    }
  }
}
