@mixin post-format-status {
  .post__content {
    flex-wrap: wrap;
    border: none;

    .post-content {
      @include border(normal, all);
      width: 100%;
      padding-bottom: $lem * 2;
    }

    .post-author-linking-to-post {
      display: flex;
      align-items: flex-start;

      .arrow-with-triangle {
        @include arrow-with-triangle;
      }

      .byline {
        padding-top: $lem;

        a,
        .link {
          @include link;
        }
      }
    }
  }
}
