@mixin sidebar-widget-log-lolla-post-formats {
  .widget-title {
    font-size: 1em;
    margin: 0;
  }

  .widget-body {
    display: flex;
    flex-wrap: wrap;
    margin-top: $lem;

    .post-formats {
      display: flex;
      flex-wrap: wrap;

      .post-format {
        display: flex;

        margin-right: $lem;
        margin-bottom: $lem;

        .post-format-name {
          @include text-style(post-title-large);
          line-height: 1.8;
        }

        .post-count {
          margin-left: $lem / 4;
        }
      }
    }
  }
}
