@mixin content-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    width: 100%;
  }

  .post {
    @include post;
    @include post--single;
    @include margin(no, no, yes, no);
  }
}
