@mixin menu-hamburger {
  @include cursor('brutalist_line_SVGicon_cursor2-64x64', -10, 0);

  .hamburger-icon {
    @include colors(default);

    &--closed {
      display: none;
    }

    &--opened {
      display: flex;

      // enlarge it
      transform: scale(1.5) translateX(-2px) translateY(-3px);
    }
  }


  &--closed {
    .hamburger-icon {
      &--closed {
        display: flex;
      }

      &--opened {
        display: none;
      }
    }
  }
}
