// Settings for the content section on the single post page
//
@mixin content-single {
	align-items: center;
	display: flex;
	flex-direction: column;

	> * {
		@include width;
	}

	.post-footer {
		@include post-footer;
	}

	.comment-list {
		@include comment-list;
	}
}
