// Settings for the content section on the single post page
//
@mixin content-single {
	align-items: center;
	display: flex;
	flex-direction: column;

	> * {
		width: 100%;
	}

	.post {
		@include post;
		@include post--single;
	}

	.post-footer {
		@include post-footer;
	}

	.comments {
		@include comments;
	}
}
