/**
 * The default skin
 *
 * Sets up color schemes, image assets, fonts and more
 */


/**
 * Colors
 */
$background-color: black;
$text-color: white;


/**
 * Fonts
 */
$body-font: 'nimbus-sans';
$title-font: 'nimbus-mono';


/**
 * Assets
 */
$cursor-color: 'black';
$quote-pattern-color: 'black';
$sidebar-pattern-color: 'black';
