/**
 * The default skin
 *
 * Sets up color schemes, image assets, fonts and more
 */


/**
 * Colors
 */
$background-color: white;
$text-color: black;


/**
 * Fonts
 */
$body-font: 'nimbus-sans';
$title-font: 'nimbus-mono';


/**
 * Assets
 */
$cursor-color: 'white';
$quote-pattern-color: 'white';
$sidebar-pattern-color: 'white';
