/**
 * The default skin
 *
 * Sets up color schemes, image assets, fonts and more
 */


/**
 * Colors
 */
$background-color: white;
$text-color: black;


/**
 * Fonts
 */
$body-font: 'lack';
$monospace-font:'nimbus-mono';
$title-font: 'lack';


/**
 * Typography
 *
 */
 $lem: 1.5em;

 $line-height: 1.5;
 $line-height-larger: 1.9;
 $line-height-smaller: 1.1;

 $letter-spacing: 0px;
 $letter-spacing-larger: 1.1px;

 $scale: 'minor-fourth';


 // Spacing
 //
 $top: $lem;
 $left: $lem;
 $top-mobile: $lem;
 $left-mobile: $lem;
 $text-block-width: $lem * 20;


 /**
  * Decorations
  *
  */
 $cursor-color: 'white';

 $border-normal: 2px solid;
 $border-thin: $lem / 8 solid;
 $border-thick: $lem / 4 solid;

 $figure-background-pattern: 'horizontal-lines-thick';
 $figure-background-pattern-color: 'black';

 $quote-pattern: 'dotted';
 $quote-pattern-color: 'black';

 $sidebar-pattern: 'horizontal-lines';
 $sidebar-pattern-color: 'white';
