/**
 * The default skin
 *
 * Sets up color schemes, image assets, fonts and more
 */


/**
 * Colors
 */
$background-color: white;
$text-color: black;


/**
 * Fonts
 */
$body-font: 'lack';
$monospace-font:'nimbus-mono';
$title-font: 'nimbus-mono';


/**
 * Typography
 *
 */
 $lem: 1.25em;

 $line-height: 1.25;
 $line-height-larger: 1.5;
 $line-height-smaller: 1.1;

 $letter-spacing: 1px;
 $letter-spacing-larger: 1.1px;

 $scale: 'major-third';


 // Spacing
 //
 $top: $lem * 1.5;
 $left: $lem * 1.5;
 $top-mobile: $lem * 1.5;
 $left-mobile: $lem;
 $text-block-width: $lem * 27;


 // Borders
 //
 $border-normal: 2px solid;
 $border-thin: $lem / 8 solid;
 $border-thick: $lem / 4 solid;




/**
 * Assets
 */
$cursor-color: 'white';
$quote-pattern-color: 'white';
$sidebar-pattern-color: 'white';
