/**
 * The default skin
 *
 * Sets up color schemes, image assets, fonts and more
 */


/**
 * Colors
 */
$background-color: white;
$text-color: black;


/**
 * Fonts
 */
$body-font: 'nimbus-sans';
$monospace-font:'nimbus-mono';
$title-font: 'nimbus-mono';


/**
 * Typography
 *
 */
 $lem: 1.25em;

 $line-height: 1.5;
 $line-height-larger: 1.8;
 $line-height-smaller: 1.1;

 $letter-spacing: 1.25px;
 $letter-spacing-larger: 2.5px;

 $scale: 'major-third';


 /**
  * Layout
  *
  */
 $top: $lem * 2;
 $left: $lem * 2;
 $top-mobile: $lem * 2;
 $left-mobile: $lem;
 $text-block-width: $lem * 30;

 $home-grid-columns: 0;



/**
 * Decorations
 *
 */
 $cursor-color: 'white';

 $border-normal: 1px solid;
 $border-thin: $lem / 8 solid;
 $border-thick: $lem / 4 solid;

 $figure-background-pattern: '';
 $figure-background-pattern-color: '';

 $quote-pattern: 'dotted';
 $quote-pattern-color: 'white';

 $sidebar-pattern: 'horizontal-lines';
 $sidebar-pattern-color: 'white';
