@mixin colors-on-the-fly($background-color, $text-color) {
  background-color: $background-color;
  color: $text-color;

  a,
  .link {
    background-color: $background-color !important;
    color: $text-color !important;
  }
}
