@mixin post-with-sidebar--display-horizontal {
	.post-content-between-sidebars {
		@include width;
	}

	.post-sidebar {
		max-width: $text-block-width / 5;
		padding-top: $lem;
		width: calc((100% - #{$text-block-width - $left * 2}) / 2);
	}
}
