@mixin post-format-status {
  .post__content {

    @if ($post-format-status-background-color and $post-format-status-text-color) {
      @include set-colors($post-format-status-background-color, $post-format-status-text-color);
    }

    flex-wrap: wrap;
    border: none;

    .post-content {
      @include border(normal, all);
      @include padding(no, no, yes, no);
      width: 100%;
    }

    .post-author-linking-to-post {
      display: flex;
      align-items: flex-start;

      .arrow-with-triangle {
        @include arrow-with-triangle;
      }

      .byline {
        @include padding(yes, no, no, no);
      }
    }
  }
}
