@mixin content-home__grid {
	@include landscape {
		column-count: 2;
		column-gap: 0;
		display: block;

		.post-format-standard.display-horizontal {
			.post__content {
				flex-direction: column !important;
			}
		}

		.navigation {
			grid-column: 1 / span 2;
			grid-row: 2;
			max-width: none;
		}
	};

	@include		 tablet-landscape {
		.post-format-comment {
			margin-left: $left !important;
		}
	}

	@include laptop {
		.post-format-comment {
			margin-left: $left !important;
		}
	}

	@include desktop {
		@include padding(no, yes, no, yes);
		column-count: 3;
		column-gap: $left;
	}
}
