@mixin post-format-comment {
  flex-wrap: wrap;
  justify-content: flex-start;

  border: none;

  @include width;

  @if ($post-format-comment-background-color and $post-format-comment-text-color) {
    @include set-colors($post-format-comment-background-color, $post-format-comment-text-color);
  }

  > * {
    width: 100%;
  }

  .comment-content,
  .comment-excerpt,
  .comment-content-or-excerpt {
    @include border(normal, all);
    @include padding;

    .text {
      @include text-style(body-text-post);
    }

    .read-more {
      @include margin(yes, no, no, no);

      .link {
        display: flex;
        flex-wrap: wrap;

        .arrow-with-triangle {
          @include arrow-with-triangle;
          @include margin(no, no, no, half);
        }
      }
    }
  }

  .comment-date-and-time,
  .comment-post-title-with-arrows {
    @include text-style(figcaption);
  }

  .comment-post-title-with-arrows {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;

    .arrow-with-triangle {
      @include arrow-with-triangle;

      position: relative;
      @include margin(yes, no, no, no);
    }

    .comment-title {
      @include padding(no, no, yes, no);
    }
  }
}
