@mixin content-home__grid($columns) {
  @if ($columns != 0) {
    display: block;
    column-width: 20em;
    column-gap: 1em;

    .post {
      display: inline-block;
      margin: 0.25rem;
    }
  }
}
