@mixin post-format-quote {
  .post__content {
    @include mobile-and-up {
      @include post__content--display-vertical;
    }

    > * {
      order: 2;
    }

    .post-content {
      @include background-pattern(dotted, $color-scheme-name);
      padding: 0;
      order: 1;

      .text {
        @include colors(default);
        @include border(thin, all);
        @include padding;
        @include margin;
        transform: translateX(-$left) skew(5deg);

        blockquote,
        q {
          @include blockquote--naked;
        }
      }

      @include mobile-and-up {
        @include blockquote--large;
      }
    }
  }
}
