@mixin post__grid--display-horizontal {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;

	width: 100%;

	.post__content {
		@include width;
	}

	.post__sidebar {
		max-width: $text-block-width / 5;
		padding-top: $lem;
		width: calc((100% - #{$text-block-width - $left * 2}) / 2);
	}
}
