@mixin home {
	display: flex;
	flex-direction: column;
	align-items: center;

	.post-list--with-comments {
		@include post-list--with-comments;
	}

	.post {
		@include post;
	}

	.post-with-sidebar {
		@include post-with-sidebar;
	}
}
