@mixin archive-title-and-description {

	@include padding(half, no, half, no);
	align-items: center;
	display: flex;

	.archive-artwork {
		@include padding(no, half, no, half);

		.circle {
			@include circle;
		}
	}

	.archive-text {
		display: flex;
		flex-direction: column;

		.archive-title {
			@include text-style(headline);
		}
	}
}
