@mixin post-single {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include padding;
  @include border(normal, all);

  > * {
    width: 100%;
  }

  .post-title {
    @include post-title--large;
  }

  figure {
    @include figure--with-border;
    padding: 0;

    // oterwise WP inserts an inline `width` which might overflow the container
    width: auto !important;

    img {
      @include image--stretch;
    }

    figcaption {
      @include padding(yes, no, yes, no);
    }
  }

  .post-featured-image {
    @include margin;
  }

  .post-content {
    @include post-content--large;
    @include margin(yes, no, no, no);
  }
}
