@mixin archives-post-formats {
	.post-formats {
		display: flex;
		flex-wrap: wrap;

		.post-format {

			@include margin(no, yes, yes, no);
			display: flex;

			.post-count {
				margin-left: $lem / 4;
			}
		}
	}
}
