@mixin content-home {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: none;

  .post {
    @include post;
    @include post--home;

    + .post {
      @include margin(yes, no, no, no);
    }
  }

  .navigation {
    @include width;
  }
}
