@mixin archives-post-formats {
  .post-formats {
    display: flex;
    flex-wrap: wrap;

    .post-format {
      display: flex;

      @include margin(no, yes, yes, no);

      .post-count {
        margin-left: $lem / 4;
      }
    }
  }
}
