@mixin fonts--nimbus-mono {
  @font-face {
      font-family: 'nimbus_monoregular';
      src: url('assets/fonts/nimbusmono-regular-webfont.woff2') format('woff2'),
           url('assets/fonts/nimbusmono-regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
}
