@mixin list--single-line-icon-with-text($icon-position: left, $selector: '.icon', $margin: $lem) {
	align-items: center;
	display: flex;

	@if ($icon-position == right) {
		justify-content: flex-end;

		#{$selector} {
			margin-left: $margin;
			margin-right: 0;
			order: 2;
		}

	} @elseif ($icon-position == left) {
		#{$selector} {
			margin-left: 0;
			margin-right: $margin;
		}

	} @elseif ($icon-position == hidden) {
		#{$selector} {
			display: none;
		}

	}
}
