@mixin sidebar {
	@include background-pattern($sidebar-pattern, $sidebar-pattern-color);
	@include padding(yes, no, yes, no);
	@include margin(yes, no, no, no);

	display: flex;
	justify-content: center;
	width: 100%;

	.sidebar-title {
		display: none;
	}

	.widget-list {
		@include widget-list;
		@include width;
	}
}
