@mixin fonts--lack {
  @font-face {
    font-family: 'lackitalic';
    src: url('assets/fonts/Lack-Italic.woff2') format('woff2'),
         url('assets/fonts/Lack-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lack_lineitalic';
    src: url('assets/fonts/Lack-Line-Italic.woff2') format('woff2'),
         url('assets/fonts/Lack-Line-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lack_lineregular';
    src: url('assets/fonts/Lack-Line-Regular.woff2') format('woff2'),
         url('assets/fonts/Lack-Line-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lackregular';
    src: url('assets/fonts/Lack-Regular.woff2') format('woff2'),
         url('assets/fonts/Lack-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
}
