@mixin width--layout {
	width: 100%;

	@include mobile {
		width: calc(100% - #{$left-mobile * 2});
	}

	@include tablet {
		width: calc(100% - #{$left * 2});
	}

	@include laptop {
		width: $post-width;
	}

	@include desktop {
		width: $post-width;
	}
}
