// The default layout for all pages
//
//
@mixin all__grid {
	align-items: center;
	display: flex;
	flex-direction: column;

	// Making blockquotes do not overflow
	overflow-x: hidden;
	width: 100%;

	// Making header, content to have a fixed with
	> * {
		@include width;
	}

	// Sidebar is an exception, it is always full width
	.sidebar {
		@include width--full;
	}
}
