@mixin all__grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  // Making blockquotes do not overflow
  overflow-x: hidden;

  > * {
    @include width;
  }

  .sidebar {
    @include width--full;
  }
}
