@mixin post-format-quote {
  .post__content {
    @include mobile-and-up {
      @include post__content--display-vertical;
    }

    > * {
      order: 2;
    }

    .post-content {
      @include background-pattern($quote-pattern, $quote-pattern-color);
      padding: 0;
      order: 1;

      .text {
        @include colors(default);
        @include border(thin, all);
        @include padding;
        @include margin;
        transform: translateX(-$left) skew(5deg);

        @include landscape {
          padding: $top * 1.5 $left * 1.5;
        }

        blockquote,
        q {
          @include blockquote--naked;
        }
      }

      @include mobile-and-up {
        @include blockquote--large;
      }
    }

    .post-permalink {
      align-self: center;
    }
  }
}
