@mixin summary {
  display: flex;
  flex-wrap: wrap;

  .summary-link-to-topic,
  .summary-dates {
    @include text-style(small);
  }

  .summary-dates {
    display: none;
  }


  .summary-link-to-topic {
    display: flex;

    .text {
      @include text-style(section-title);
      display: inline-flex;
    }
  }


  .summary-title-without-link {
    width: 100%;
  }

  + .summary {
    @include margin(yes, no, no, no);
  }
}
